# 11za WhatsApp API
ELEVEN_ZA_API_KEY=U2FsdGVkX19as8Viy5vXkdbUVwfVQxfyrrbl/i2EfkU41/YpiUyF9faNxbf/x4Pj83bs36Pz6E1/gQxsx5hBm9c5u7nmC+kVj2fBLmGlOxSh5D11K0DfZeye5hr2JV1bwJje+dmnmTF+M8XjywXrU4Ax33ptsNjC6buha3pTvudK6VA8BH1OI4RqPXeejaUp
ELEVEN_ZA_PHONE_NUMBER_ID=15557062361
WEBHOOK_VERIFY_TOKEN=your_custom_verify_token_here
